html,body {
    height: 100%;
}

.main {
    height: 100%;
}

.side-nav {
    background-color: #eeeeee;
    padding: 0;
    height: inherit;
}

.side-nav li{
    width: 100%;
    margin-top: 2em;
    text-align: center;
}

.banner {
    height: 5em; /* Full-height: remove this if you want "auto" height */
    background-color: #2196F3;
}

.banner-logo {
    padding: 0;
}

.banner-logo img {
    height: 5em;
}

.banner-title {
    float: left;
    width: 85%;
}

.banner-title h1{
    color: white;
}

.profile-icon{
    height: 5em;
    padding-top: .75em;
    background-color: #2196F3;
}
.profile-icon i {
    color: white;
}

.log-out-icon {
    height: 5em;
    padding-top: .75em;
    background-color: #2196F3;
    border: #2196F3;
    padding: 0;
}

.log-out-icon i{
    color: white;
}

.login-form input[type=text], input[type=password]{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #2196F3;
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1em;
}
.login-logo {
   margin-top: 5em;
}

.login-button {
    height: 4em;
    width: 100%;
    border-radius: 1em;
    background-color: #2196F3;
    color: white;
}

.forgot-password a{
    margin-top: 2em;
    float: right;
    color: #2196F3;
    text-decoration: none;
}

.become-mentor-form {
    width: 88%;
    float: right;
}

.new-employee-form-header {
     padding:35px 50px;
     background-color: #2196F3;
     color: white;
 }

.new-odyssey-form-header {
    padding:35px 50px;
    background-color: #2196F3;
    color: white;
}

.mentor-availability-table {
    width: 100%;
}

.mentor-availability-table th, td{
    text-align: center;
}

.profile-card {
    border: 1px solid black;
    border-radius: 4px;
    margin: 1em;
    padding: .5em;
    list-style: none;
}
.profile-card li{
    padding: .5em;
}
.edit-button {
    background-color: greenyellow;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-button:hover{
    background-color: white;
    color: greenyellow;
}

.profile-card-title {
    border-bottom: 1px solid lightblue;
}

.profile-subcard {
    border: 1px solid black;
    border-radius: 4px;
    margin: 1em;
    padding: .5em;
}

.ck-button {
    margin:4px;
    border: solid green 2px;
    color: green;
    overflow:auto;
    float:left;
}

.ck-button label {
    float:left;
    width:5.0em;
    margin: 0;
}

.ck-button label span {
    text-align:center;
    padding:.5em;
    display:block;
}

.ck-button label input {
    position:absolute;
    top:-9999px;
}

.ck-button input:checked + span {
    background-color:green;
    color:#fff;
}

.ck-button input:disabled + span {
    background-color: darkgrey;
    color: white;
    cursor: not-allowed;
}

.ck-button input:hover:enabled + span {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.mentor-card {
    background-color: aliceblue;
    width: auto;
    border: solid 1px green;
    padding: 16px;
    margin: 16px;
}

.odyssey-card {
    border : solid 2px #5cb85c;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
}
.odyssey-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-right: solid 1px darkgrey;
    padding-right: 16px;
}


.odyssey-details {
    width: 20%;
    border-right: solid 1px darkgrey;
    padding-left: 16px;
    padding-right: 16px;
}

.odyssey-topic {
    width: 50%;
    float: right;
}

.odyssey-partner {
    width: 50%;
    float: left;
}

.odyssey-progress {
    padding-left: 16px;
    width: 60%;

}

.first-meeting-label {
    width: 50%;
    float: left;
}
.first-meeting {
    width: 50%;
    float: left;
    margin-top: 0;
}


.last-meeting-label {
    width:  50%;
    float: right;
    text-align: right;
}
.last-meeting {
    width:  50%;
    float: right;
    text-align: right;
    margin-top: 0;
}

.meetings-details-label {
    width: 50%;
    float: left;
}
.meetings-details {
    width: 50%;
    float: left;
    margin-top: 0;
}

.meetings-complete-label {
    width: 50%;
    float: right;
    text-align: right;
}

.meetings-complete {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 0;
}

#home-page-title {
    margin: 16px;
}
#mentor-page-odyssey-title {
    margin: 16px;
}
#mentor-odyssey-cards {
    padding: 0;
}

#become-mentor {
    margin-top: 16px;
    margin-bottom: 16px;
}

#mentee-odyssey-cards {
    padding: 0;
}

#mentee-page-odyssey-title {
    margin: 16px;
}

.employee-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 16px;
}

.employee-table td, .employee-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.employee-table tr:nth-child(even){background-color: #f2f2f2;}

.employee-table tr:hover {background-color: #ddd;}

.employee-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#manager-team-title {
    margin: 16px;
}

.margin16 {
    margin: 16px;
}
.margin-top {
    margin-top: 16px;
}
.graph-container {
    margin: 16px;
    padding: 16px;
    border : solid 2px darkgrey;
    background-color: whitesmoke;
    border-radius: 16px;
}

.error-message {
    color: red;
    margin: 16px;
}

.awaiting-mentee-card {
    border : solid 2px #5cb85c;
    background-color: #eeeeee;
    display: flex;
    height: fit-content;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.awaiting-mentee-topic {
    width: 100%;
}
